In [41]:
import pandas as pd
import numpy as np
import requests

In [42]:
csv = "http://www2.projects.science.uu.nl/memotion/emotifydata/data.csv"
response = requests.get(csv)
open("data.csv", "wb").write(response.content)

402508

In [43]:
data_csv = pd.read_csv('data.csv', skipinitialspace=True)
data_csv

,track id,genre,amazement,solemnity,tenderness,nostalgia,calmness,power,joyful_activation,tension,sadness,mood,liked,disliked,age,gender,mother tongue
0,1,classical,0,1,0,0,0,0,1,1,0,3,1,0,21,1,English
1,1,classical,0,0,0,1,0,0,0,0,0,3,0,1,41,1,Dutch
2,1,classical,0,0,0,1,0,0,0,0,1,3,0,0,24,1,English
3,1,classical,0,0,0,0,1,0,0,0,0,3,0,0,32,0,Spanish
4,1,classical,0,0,0,1,1,0,0,0,0,4,0,1,21,0,English
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8402,400,pop,1,1,0,0,0,0,1,0,0,3,0,0,26,1,Russian
8403,400,pop,0,0,0,1,0,0,1,0,1,3,0,1,29,0,Russian
8404,400,pop,0,0,0,0,0,0,0,1,0,4,0,1,34,1,Polish
8405,400,pop,1,0,0,0,0,0,1,1,0,5,0,0,39,1,French
8406,400,pop,1,0,0,0,0,0,0,1,0,4,0,1,18,1,Russian

In [44]:
genre = data_csv[['track id', 'genre']]
genre

      track id      genre
0            1  classical
1            1  classical
2            1  classical
3            1  classical
4            1  classical
...        ...        ...
8402       400        pop
8403       400        pop
8404       400        pop
8405       400        pop
8406       400        pop

[8407 rows x 2 columns]

In [45]:
labels = data_csv.drop(columns= ['mood', 'age', 'gender','disliked', 'liked', 'mother tongue', 'genre']) # unnecessary columns
labels = labels.groupby('track id').mean()
labels

,amazement,solemnity,tenderness,nostalgia,calmness,power,joyful_activation,tension,sadness
track id,,,,,,,,,
1,0.145833,0.333333,0.208333,0.291667,0.625000,0.020833,0.083333,0.062500,0.312500
2,0.106383,0.170213,0.425532,0.340426,0.744681,0.042553,0.021277,0.021277,0.106383
3,0.173913,0.347826,0.130435,0.173913,0.065217,0.282609,0.413043,0.239130,0.152174
4,0.119048,0.142857,0.523810,0.452381,0.761905,0.023810,0.000000,0.023810,0.142857
5,0.045455,0.295455,0.318182,0.522727,0.318182,0.045455,0.068182,0.181818,0.318182
...,...,...,...,...,...,...,...,...,...
396,0.250000,0.166667,0.250000,0.500000,0.333333,0.000000,0.166667,0.083333,0.166667
397,0.090909,0.090909,0.090909,0.181818,0.181818,0.363636,0.000000,0.363636,0.545455
398,0.272727,0.000000,0.000000,0.363636,0.272727,0.181818,0.636364,0.272727,0.181818
399,0.333333,0.083333,0.583333,0.583333,0.666667,0.083333,0.166667,0.000000,0.250000
400,0.250000,0.166667,0.083333,0.333333,0.083333,0.000000,0.250000,0.500000,0.416667

In [46]:
for column in labels.columns:
    labels[column] = labels[column].apply(lambda x: 1 if (x>=0.5) else 0)
    print(labels[column].value_counts())
    print()

0    397
1      3
Name: amazement, dtype: int64

0    381
1     19
Name: solemnity, dtype: int64

0    373
1     27
Name: tenderness, dtype: int64

0    354
1     46
Name: nostalgia, dtype: int64

0    311
1     89
Name: calmness, dtype: int64

0    366
1     34
Name: power, dtype: int64

0    317
1     83
Name: joyful_activation, dtype: int64

0    355
1     45
Name: tension, dtype: int64

0    379
1     21
Name: sadness, dtype: int64

In [47]:
labels

,amazement,solemnity,tenderness,nostalgia,calmness,power,joyful_activation,tension,sadness
track id,,,,,,,,,
1,0,0,0,0,1,0,0,0,0
2,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0
4,0,0,1,0,1,0,0,0,0
5,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
396,0,0,0,1,0,0,0,0,0
397,0,0,0,0,0,0,0,0,1
398,0,0,0,0,0,0,1,0,0
399,0,0,1,1,1,0,0,0,0
400,0,0,0,0,0,0,0,1,0

In [48]:
genre_cleared = genre.drop_duplicates().set_index('track id')
genre_cleared

              genre
track id
1         classical
2         classical
3         classical
4         classical
5         classical
...             ...
396             pop
397             pop
398             pop
399             pop
400             pop

[400 rows x 1 columns]

In [53]:
y = labels
y['genre'] = genre_cleared['genre']
y = pd.get_dummies(y)
y

,amazement,solemnity,tenderness,nostalgia,calmness,power,joyful_activation,tension,sadness,genre_classical,genre_electronic,genre_pop,genre_rock
track id,,,,,,,,,,,,,
1,0,0,0,0,1,0,0,0,0,1,0,0,0
2,0,0,0,0,1,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,1,0,0,0
4,0,0,1,0,1,0,0,0,0,1,0,0,0
5,0,0,0,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,0,0,0,1,0,0,0,0,0,0,0,1,0
397,0,0,0,0,0,0,0,0,1,0,0,1,0
398,0,0,0,0,0,0,1,0,0,0,0,1,0
399,0,0,1,1,1,0,0,0,0,0,0,1,0
400,0,0,0,0,0,0,0,1,0,0,0,1,0